# WEEK11 Car Listings Data Analysis: Cleaning, Exploration, and Visualization <hr style="border:2.5px solid #FFC0CB"></hr>

Name:**Wendy Sai D. Infante** <br>
Course:**CPE2A**

In [73]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

 Load dataset

In [74]:
df = pd.read_csv(r"C:\Users\ASUS\Documents\CAR_DETAILS.csv")
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4340 entries, 0 to 4339
Data columns (total 8 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   name           4340 non-null   object
 1   year           4340 non-null   int64
 2   selling_price  4340 non-null   int64
 3   km_driven      4340 non-null   int64
 4   fuel           3906 non-null   object
 5   seller_type    3906 non-null   object
 6   transmission   3906 non-null   object
 7   owner          3906 non-null   object
dtypes: int64(3), object(5)
memory usage: 271.4+ KB

Display initial data overview

In [75]:
print(df.isnull().sum())

name               0
year               0
selling_price      0
km_driven          0
fuel             434
seller_type      434
transmission     434
owner            434
dtype: int64

In [76]:
num_cols = df.select_dtypes(include=[np.number]).columns  # Select only numeric columns
df[num_cols] = df[num_cols].apply(lambda col: col.fillna(col.mean()))

In [77]:
print(df.isnull().sum())

name               0
year               0
selling_price      0
km_driven          0
fuel             434
seller_type      434
transmission     434
owner            434
dtype: int64

In [78]:
df = df.drop_duplicates()

In [79]:
df['year'] = df['year'].astype(int)

In [80]:
print("\nDataset Summary Statistics:")
print(df.describe())

Dataset Summary Statistics:
              year  selling_price      km_driven
count  3913.000000   3.913000e+03    3913.000000
mean   2013.023256   4.852967e+05   67883.562740
std       4.226913   5.368397e+05   46721.310142
min    1992.000000   2.000000e+04       1.000000
25%    2011.000000   2.000000e+05   35000.000000
50%    2014.000000   3.500000e+05   60000.000000
75%    2016.000000   6.000000e+05   90000.000000
max    2020.000000   8.900000e+06  806599.000000

In [88]:
df.to_csv("C:/Users/ASUS/Documents/CAR_DETAILS_CLEANED.csv", index=False)